.searchWrap {
  display: flex;
  gap: var(--space-2);

  .selectBox {
    min-width: 125px;
    text-align: center;
  }
}

.memberDetailWrap {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .infoItem {
    display: grid;
    grid-template-columns: 2fr 8fr;
    border-bottom: 1px solid var(--gray-color-2);
    font-size: var(--small-font-size);

    &:last-child {
      border-bottom: none;
    }

    .itemTitle {
      font-weight: bold;
    }

    > div {
      padding: var(--space-3) 0;
    }
  }
}
