.filter_col {
  display: flex;
  align-items: center;
  padding: var(--space-4) 0;
  font-size: var(--small-font-size);

  div[id="filter_datepicker"] {
    display: flex;
    align-items: center;

    div[class="react-datepicker__triangle"] {
      &::after {
        border-bottom-color: var(--white-color-1);
      }
    }
    div[class="react-datepicker"] {
      font-family: var(--font-family);
    }

    div[class="react-datepicker__day-name"] {
      color: var(--gray-color-1);
    }

    div[class="react-datepicker__header "] {
      background-color: #fff;
      border-bottom: none;
      padding: 0;
    }

    div[class~="react-datepicker__day--selected"] {
      background-color: var(--barogo-color-1);
      color: #fff;
      border-radius: 50%;
    }

    div[class~="react-datepicker__day"] {
      &:hover {
        background-color: var(--gray-color-2);
        border-radius: 50%;
      }
    }

    div[class~="react-datepicker__day--keyboard-selected"] {
      background-color: var(--white-color-1);
    }

    div[class="react-datepicker__current-month"] {
      padding: 15px 0 10px;
    }

    button[class^="react-datepicker__navigation"] {
      top: 10px;
    }
  }

  &.line {
    border-bottom: 1px solid var(--gray-color-5);
  }

  .filter_title {
    font-weight: bold;
    min-width: 100px;
  }

  .filter_list {
    display: flex;
    gap: 35px 50px;
    flex-wrap: wrap;

    .filter_Item.active {
      a {
        color: var(--barogo-color-1);
        border-bottom: 2px solid var(--barogo-color-1);
        padding-bottom: var(--space-1);
        font-weight: bold;
      }
    }
  }

  .date_input {
    width: 120px;
    display: inline-block;
    border: 1px solid var(--gray-color-5);
    border-radius: 5px;
    padding: var(--space-2);
    background: url("/images/calendar.svg") no-repeat 92% center;
  }

  .data_icon {
    margin: 0 var(--space-2);
  }
}
