#newMessageWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h3 {
    margin-bottom: 0;
  }

  h4 {
    font-weight: bold;
    font-size: var(--middle-font-size);
    margin-bottom: var(--space-2);
  }

  .lineBox {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  fieldset {
    display: flex;
    align-items: center;
  }

  .typeBox {
    // flex-direction: column;
    // align-items: flex-start;

    > div {
      margin-bottom: 20px;
    }

    &.message {
      textarea {
        border: 1px solid var(--gray-color-2);
      }
    }
  }

  input {
    padding: var(--space-2);
    border: 1px solid var(--gray-color-2);
    border-radius: 5px;
    min-width: 400px;

    &.point {
      min-width: 100px;
    }
  }
}
