div.formWarp {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  font-size: var(--small-font-size);

  h4 {
    font-weight: bold;
    font-size: var(--middle-font-size);
    margin-bottom: var(--space-2);
  }

  .lineBox {
    display: flex;
    align-items: center;
    gap: 15px;
    h3 {
      margin-bottom: 0;
    }
  }

  .radioBox {
    input {
      margin-right: var(--space-1);
    }

    .csvButton {
      margin-left: var(--space-2);
    }
  }

  fieldset {
    display: flex;
    align-items: center;
    gap: var(--space-6);
    > div {
      display: flex;
      align-items: center;
    }
  }

  .textAreaBox {
    position: relative;
    min-width: 400px;

    textarea {
      border: 1px solid var(--gray-color-2);
      border-radius: 5px;
      min-height: 70px;
      width: 100%;
      padding: var(--space-3);
    }

    .textAreaCount {
      position: absolute;
      bottom: var(--space-3);
      right: var(--space-3);
      font-size: var(--small-font-size);
      color: var(--gray-color-2);
    }
  }

  .typeBox {
    > div {
      margin-bottom: 20px;
    }

    &.giftType {
      .selectBox {
        max-width: 400px;
      }
    }
  }

  input {
    font-size: var(--small-font-size);
  }
  input[type="text"] {
    padding: var(--space-2);
    border: 1px solid var(--gray-color-2);
    border-radius: 5px;
    min-width: 400px;
  }

  .point {
    min-width: 100px;
    padding: var(--space-2);
    border: 1px solid var(--gray-color-2);
    border-radius: 5px;
  }

  .dateBox {
    h3 {
      margin-bottom: var(--space-3);
    }
  }
}

.checkBoxWarp {
  display: flex;
  gap: 35px 30px;
  flex-wrap: wrap;

  label {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}
