@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --moa-color-1: #570dca;
  --dealver-color-1: #093687;
  --barogo-color-1: #fa5014;
  --barogo-color-2: #ff8724;
  --barogo-color-3: #fff6ec;
  --barogo-color-4: #fff2ee;
  --barogo-gradient-1: linear-gradient(to right, #fa5014, #ff8724);
  --black-color-1: #111111;
  --white-color-1: #ffffff;
  --gray-color-1: #8a8d9b;
  --gray-color-2: #d0d4dc;
  --gray-color-3: #f4f5f8;
  --gray-color-4: #f9f9fb;
  --gray-color-5: #e9e9e9;
  --gray-color-6: #e5e9ee;
  --gray-color-7: #5a5a5a;
  --red-color-1: #f41d1d;
  --red-color-2: #ffeeee;
  --blue-color-1: #1400ff;
  --side-padding-1: 0 15px;
  --side-padding-2: 15px;
  --side-padding-3: 25px 15px;
  --side-padding-4: 5px;
  --space-0: 3px;
  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
  --space-5: 25px;
  --space-6: 30px;
  --side-margin-1: 0 15px;
  --xsmall-font-size: 12px;
  --small-font-size: 14px;
  --middle-font-size: 16px;
  --large-font-size: 19px;
  --max-width-1: 720px;
  --font-family: "Pretendard", Arial, Helvetica, sans-serif;
  --primary: rgba(255, 255, 255, 0);
  --secondary: rgba(0, 0, 0, 0.2);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

select {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  appearance: none;
  background: url("/images/arrow-down.png") no-repeat 93% 50%;
  background-size: 14px 8px;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0 auto;
  font-size: 12px;
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: var(--black-color-1);
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.blind::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
}
button {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  border: none;
  background: none;
  border: 0;
  padding: 0;
  white-space: nowrap;
}
input {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
}

div.basicBox {
  display: inline-block;
  border-radius: 20px;
  background-color: var(--white-color-1);
  padding: 3%;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

div.wide {
  width: 100%;
  max-width: 900px;
}

div.basicBox h3 {
  font-size: var(--large-font-size);
  font-weight: bold;
  margin-bottom: var(--space-4);
}

h2.pageTitle {
  font-size: 25px;
  font-weight: bold;
  color: var(--white-color-1);
  margin-bottom: var(--space-6);
}
