.main {
  .dataTop {
    display: flex;
    justify-content: space-between;

    > div {
      width: 30%;

      h3 {
        color: var(--barogo-color-1);
        font-size: var(--small-font-size);
        margin-bottom: var(--space-3);
      }

      .dataTopCount {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .count {
          font-size: var(--large-font-size);
          font-weight: bold;
        }

        .arrowIcon {
          display: inline-block;
          margin-left: var(--space-1);

          &.down {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .memberData {
    margin: var(--space-6) 0;
    .barGraph {
      width: 100%;
      height: 400px;
    }
  }

  .periodMember {
    .lineGraph {
      width: 100%;
      height: 400px;
    }
  }
}
